.business {
  background-color: #57c4ff31;
}

.health {
  background-color: #da85c731;
}

.entertainment {
  background-color: #7fb88133;
}

.sports {
  background-color: #ff795736;
}

.education {
  background-color: #ffb04f45;
}

.travel {
  background-color: #5e4fff31;
}

.science {
  background-color: #ff4f4f31;
}

.digital {
  background-color: #ff4f7b31;
}

.car {
  background-color: #ff7b4f31;
}

.opinion {
  background-color: #7b4fff31;
}

.confide {
  background-color: #4fff7b31;
}

.funny {
  background-color: #ff7b7b31;
}

.world {
  background-color: #7b7bff31;
}

.life {
  background-color: #7bff7b31;
}

.startup {
  background-color: #ff7bff31;
}

.law {
  background-color: #ff31ff31;
}

.featured {
  background-color: #bb33ff31;
}