.one {
  background-color: #57c4ff31;
}

.two {
  background-color: #da85c731;
}

.three {
  background-color: #7fb88133;
}

.four {
  background-color: #ff795736;
}

.five {
  background-color: #ffb04f45;
}

.six {
  background-color: #5e4fff31;
}

.seven {
  background-color: #ff4f4f31;
}

.eight {
  background-color: #ff4f7b31;
}

.nine {
  background-color: #ff7b4f31;
}

.ten {
  background-color: #7b4fff31;
}

.eleven {
  background-color: #4fff7b31;
}

.twilve {
  background-color: #ff7b7b31;
}

.thirteen {
  background-color: #7b7bff31;
}

.fourteen {
  background-color: #7bff7b31;
}

.fifteen {
  background-color: #ff7bff31;
}

.sixteen {
  background-color: #ff31ff31;
}

.seventeen {
  background-color: #bb33ff31;
}